// A simple top bar for providing notifications and context to users.
// Used on archived sites and 404 pages when a custom page isn't required.
//
// <div class="ab-preface">
//   <span class="ab-preface-title">Notification Title</span>
//   Lorem ipsum, this text should be as long as necessary to clearly explain
//   your message to the user. You can also <strong>bold</strong>,
//   <em>italicize</em>, and <a href="http://example.com" title="">Link</a>
// </div>

div.ab-preface {
  position: fixed;
  top: 0; left: 0; right: 0;
  z-index: 98;
  background: #010101;
  padding: 10px;
  font: normal 14px/1.2em "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: left;
  &, span, strong, em, a, a:hover {
    color: #f1f1f1;
  }
  strong { font-weight: bold; }
  em { font-style: italic; }
  a {
    text-decoration: none;
    &:hover { text-decoration: underline; }
  }
  .ab-preface-title {
    font-size: 16px;
    font-weight: bold;
  }
}
